{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legal_Support_Mate</title>
    <link rel="stylesheet" href="{% static "Legal_Support_Mate/css/botton.css" %}">
</head>
<body>
    <h1>相談したい内容を選択してください</h1>
    <div class="image-grid">
        <a href="{% url "talk" "パワハラ" %}"><img src="{% static 'Legal_Support_Mate/img/number_1.png' %}" alt="Image 1"></a>
        <a href="{% url "talk" "労働" %}"><img src="{% static 'Legal_Support_Mate/img/number_2.png' %}" alt="Image 1"></a>
        <a href="{% url "talk" "著作権" %}"><img src="{% static 'Legal_Support_Mate/img/number_3.png' %}" alt="Image 1"></a>
        <a href="{% url "talk" "消費者法" %}"><img src="{% static 'Legal_Support_Mate/img/number_4.png' %}" alt="Image 1"></a>
        <a href="{% url "talk" "道路交通" %}"><img src="{% static 'Legal_Support_Mate/img/number_5.png' %}" alt="Image 1"></a>
        <a href="{% url "talk" "相続権" %}"><img src="{% static 'Legal_Support_Mate/img/number_6.png' %}" alt="Image 1"></a>
        <a href="{% url "talk" "離婚" %}"><img src="{% static 'Legal_Support_Mate/img/number_7.png' %}" alt="Image 1"></a>
        <a href="{% url "talk" "誹謗中傷" %}"><img src="{% static 'Legal_Support_Mate/img/number_8.png' %}" alt="Image 1"></a>
    </div>
</body>
</html>
