{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'Legal_Support_Mate/css/talk.css' %}">
</head>
<body>
    <h1>{{ category }}</h1>
    <form action="{% url 'talk' category %}" method="post">
        {% csrf_token %}
        <input type="text" name="user_message">
        <button type="submit">送信</button>
    </form>

    <div>
        <h2>相談チャット</h2>
        <a class="button2" href="{% url 'index' %}">戻る</a>
        <a class="button2" href="{% url 'clear' category %}">会話をクリアする</a>
        {% for msg in messages %}
            <p><strong>あなた: </strong>{{ msg.user_message }}</p>
            <small>{{ time }}</small>
            <p id="bot-response"><strong>chatGPT: </strong>
                {{ msg.bot_response | safe }}
            </p>
        {% endfor %}
    </div>

</body>
</html>
