<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        {{ category }}
    </h1>
    <form action="{% url "talk" category %}" method="post">
        {% csrf_token %}
        <input type="text" name="user_message">
        <button type="submit">送信</button>
    </form>

    <div>
        <h2>会話</h2>
        <a href="{% url "clear" category %}">会話をクリアする</a>
        {% for msg in messages %}
            <p><strong>あなた: </strong>{{ msg.user_message }}</p>
            <p><strong>chatGPT</strong>{{ msg.bot_response }}</p>
        {% endfor %}
    </div>

    <a href="{% url "index" %}">戻る</a>

</body>
</html>
